*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}
header{
    height: 50px;
    width: 100%;
    background-color: rgb(94, 93, 93);
}
header div{
    margin: 10px 20px;
}
#logo{
    float: left;
}
#logo p{
    font-size: 25px;
}
#menu{
    float: left;
}
#menu li{
    display: inline;
    margin-left: 20px;
    padding: 23px 10px;
    margin-top: 0;
}
#menu a{
    text-decoration: none;
    color: rgb(185, 185, 185);
}
#menu li:hover{
    background-color: black;
    color: white;
}
#login{
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#content{
   height: 100ch;
   position: relative;
}
#left{
    float: left;
    width: 15%;
    height: 100%;
    text-align: center;
    background-color: rgb(145, 143, 143);
    
}
#left li{
    margin: 20px 0;
}
#left a{
    text-decoration: none;
}
#center{
    float: left;
    width: 70%;
}
#center p,h1{
    margin: 10px 20px;
}
#center h1{
    font-size: 50px;
}
#right{
    float: left;
    width: 15%;
    text-align: center;
    height: 100%;
    background-color: rgb(145, 143, 143);
}
.ads{
    margin: 20px 20px;
    border: solid black;
    padding: 20px;
}
footer{
    height: 50px;
    width: 100%;
    background-color: rgb(94, 93, 93);  
    
}
footer p {
    text-align: center;
    padding-top: 20px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #logo p{
        font-size: 20px;
    }
    header div{
        margin-left: 5px;
    }
    #content{
        height: 100%;
        /* position: relative; */
    }

    #left,#right{
        display: none;
    }
    #center{
        height: 100%;
    }
    footer p {
        text-align: center;
        padding-top: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}