* {
    margin: 0;
    padding: 0;
}
#game{
    margin-bottom: 200px;
    margin-top: 20px;
}
#control table{
    margin: 0 auto;
}
#control table tr td{
    cursor: pointer;
}
#ball{
    position: relative;
    transition: all 1s;
}
@keyframes rotate_right{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
#ball.stop{
    -webkit-animation-iteration-count: unset;
}
#ball.run_right{
    animation-name: rotate_right;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}
@keyframes rotate_left{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}#ball.run_left{
    animation-name: rotate_left;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}